label {
    padding: 2px;
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

table {
    border-collapse: collapse;
}
td {
    font: 1rem 'Fira sans', sans-serif;
    padding: 3px;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    text-align: center;
}